@import url(global.css);

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 80rem;
  margin: 0 auto;
}

.banner-section {
  transform: scaleX(-1);
  background-image: url('../assets/img/bannerImageInvertida.png');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2rem;
  color: white;
  text-align: left;
  border-radius: 50px;
  margin-inline: 1rem;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.42);
  padding-block: 5rem;
}

.banner-section h1 {
  transform: scaleX(-1);
  font-size: var(--font-size-h3);
  font-weight: 400;
  padding-bottom: 4rem;
  margin-inline: 3rem;
}

.includify-highlight {
  color: #091865;
  font-weight: 600;
}

.banner-section p {
  transform: scaleX(-1);
  font-size: var(--font-size-h3);
  font-weight: 600;
  max-width: 400px;
  padding-bottom: 7rem;
  margin-inline: 3rem;
}

.banner-buttons {
  transform: scaleX(-1);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  margin-inline: 3rem;
}

.banner-buttons a {
  background-color: #fff;
  padding-inline: 1.5rem;
  padding-block: 1rem;
  border-radius: 15px;
  text-decoration: none;
  color: var(--color-standard);
  font-weight: 600;
}

.banner-buttons a:hover {
  background-color: #cacaca;
}

#content {
  display: flex;
  align-items: flex-start;
  margin-top: 3rem;
  gap: 2em;
  margin-inline: 1rem;
  max-width: 50rem;
}

.elipses-container {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.elipses {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.elipses div {
  background-color: #2b468b1a;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.introducao {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}

.introducao h3 {
  color: var(--color-standard);
  font-size: var(--font-size-h4);
}

.introducao p {
  text-align: left;
  font-size: 1.1em;
}

.introducao a {
  margin-top: 20px;
  color: var(--color-standard);
  font-size: var(--font-size-h6);
  font-weight: 600;
}

.articles-section {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  margin-block: 4rem;
  margin-inline: 3rem;
  gap: 6rem;
}

.article-card {
  max-width: 25rem;
  gap: 20px;
}

.card-link {
  text-decoration: none;
  color: #333;
  font-size: var(--font-size-p);
  display: flex;
  flex-direction: column;
  min-height: 31rem;
  max-width: 25rem;
}

.card-link h4 {
  color: #091865;
  max-width: 20rem;
  padding-block: 10px;
  font-size: var(--font-size-h6);
}

.card-link button {
  align-self: flex-start;
  background-color: var(--color-standard);
  text-decoration: none;
  color: #fff;
  font-size: var(--font-size-p);
  border: none;
  padding-block: 0.3rem;
  padding-inline: 3rem;
  margin-top: 20px;
  border-radius: 8px;
}

.card-link button:hover {
  cursor: pointer;
}

.article-card img {
  max-width: 90%;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.26);
  border-radius: 10%;
}

.article-card p {
  max-width: 20rem;
  text-align: left;
}

.articles-section .elipses-container {
  margin-left: -3rem;
}
 
body.alto-contraste .banner-section h1,
body.alto-contraste .banner-section p,
body.alto-contraste .article-card h4,
body.alto-contraste .article-card p,
body.alto-contraste .introducao h3,
body.alto-contraste .introducao p,
body.alto-contraste .introducao a {
    color: #fff;
}

body.alto-contraste .banner-buttons a {
  background-color: #fff;
  color: #091865;
}

body.alto-contraste .introducao a {
  background-color: transparent; 
  border: 0;
}

body.alto-contraste .elipses div {
  background-color: #ffffff0c;
}

body.alto-contraste .card-link {
  background-color: transparent;
  border: none;
}

@media (min-width: 48rem) {
  .elipses-container {
    display: flex;
  }

  .banner-section {
    background-image: url('../assets/img/bannerImage.png');
    transform: scaleX(1);
  }

  .banner-section h1 {
    transform: scaleX(1);
  }

  .banner-section p {
    transform: scaleX(1);
  }

  .banner-buttons {
    transform: scaleX(1);
  }

  .includify-highlight {
    background-color: transparent;
  }

}