@import url(global.css);

main {
    padding-block: 2rem;
    max-width: 1280px;
    margin: 0 auto;
}

main>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 0 auto;
}

.secao-perfil ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    list-style: none;
}

.secao-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.secao-perfil .perfil-usuario-container {
    order: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-background);
    gap: 20px;
    min-width: 17.5rem;
    padding-block: 3.125rem;
    border-radius: 15px;
    background: rgb(63, 105, 206);
    background: linear-gradient(90deg, rgba(63, 105, 206, 1) 8%, rgba(32, 53, 104, 1) 100%);
}

.secao-perfil>:last-child {
    order: 1;
}

.secao-perfil {
    position: relative;
}

.secao-perfil slot {
    display: none;
    position: absolute;
    top: 350px;
    z-index: -1;
    flex-direction: column;
    gap: 20px;
    order: 2;
}

.secao-perfil slot div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 10px;
}

.elipse {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--color-standard)1e;
}

.secao-perfil>:last-child {
    font-size: var(--font-size-p);
}

.secao-perfil>:last-child img {
    width: 6.25rem;
}

.secao-perfil>:last-child p {
    font-weight: 600;
}

.perfil-usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.perfil-usuario figcaption {
    font-size: var(--font-size-h4);
}

.perfil-usuario img {
    width: 100px;
}

.apresentacao {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-block: 2rem;
    margin-inline: 2rem;
    text-align: justify;
    min-width: 17.5rem;
    border-radius: 15px;
    box-shadow: -3px 3px 5px 1px rgba(0, 0, 0, 0.219);
}

.apresentacao>* {
    margin-inline: 32px;
}

.apresentacao p {
    font-size: 1.15eem;
}

.apresentacao h2 {
    font-size: var(--font-size-h2);
    font-weight: 500;
}

.quem-sou {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.quem-sou>div {
    display: flex;
    align-items: flex-end;
    gap: 5px;
}

.quem-sou div p {
    font-size: var(--font-size-p);
}

.quem-sou a {
    padding-block: 0.5rem;
    padding-inline: 5rem;
    font-weight: 600;
    border-radius: 10px;
    background-color: var(--color-button-primary);
    color: var(--color-background);
    text-decoration: none;
    align-self: center;
    margin-block: 1rem;
    text-align: center;
}

article[aria-labelledby="servicos-prestados"]>div {
    margin-top: 18px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 25px;
}

article[aria-labelledby="servicos-prestados"] h3 {
    font-size: var(--font-size-h3);
    font-weight: 500;
}

article[aria-labelledby="servicos-prestados"] ul {
    list-style: none;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}

article[aria-labelledby="servicos-prestados"] ul li {
    color: var(--color-standard);
    font-size: var(--font-size-p);
    font-weight: 600;
    background-color: var(--color-background-card);
    border-radius: 8px;
    padding-block: 0.3rem;
    padding-inline: 0.5rem;
    max-width: fit-content;
}

.servicos {
    margin-top: 5rem;
    min-width: 17.5rem;
}

.servicos>article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.servicos>article h2 {
    font-size: var(--font-size-h2);
    font-weight: 500;
}

.servicos div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 50rem;
    margin-inline: 2rem;
    gap: 40px;
}

.servicos div figure {
    margin-bottom: 20px;
}

.servicos .avaliacao-servico {
    margin-top: 8px;
    width: 6.25rem;
}

.detalhes-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    gap: 8px;
    text-decoration: none;
    background-color: var(--color-button-primary);
    color: var(--color-background);
    padding-inline: 1rem;
    padding-block: 8px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

.detalhes-btn:hover {
    background-color: var(--color-hover-button-primary);
}

.servicos div figcaption h3 {
    color: var(--color-border);
}

@media (min-width: 48rem) {
    main>div {
        flex-direction: row;
        align-items: flex-start;
    }

    .secao-perfil>:first-child {
        border-radius: 15px;
    }

    .secao-perfil>:last-child {
        margin-left: 10px;
    }

    .secao-perfil {
        align-items: flex-start;
        text-align: start;
    }

    .apresentacao a {
        align-self: flex-start;
    }

    .secao-perfil slot {
        display: flex;
    }
}