body.no-scroll {
    overflow-y: hidden;
}

main {
    padding-block: 50px;
}

main ul {
    list-style: none;
    padding: 0;
}

main li {
    margin-bottom: 20px;
}

.secao-busca {
    padding-block-end: 50px;
    padding-inline: 1rem;
}

.secao-busca h1 {
    font-size: 2.6rem;
    font-weight: bold;
}

.form-busca {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.barra-busca-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.barra-busca {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DFE3EE;
    border-radius: 10px;
    padding: 8px;
    gap: 8px;
    border: 1px solid #2036687c;
    order: 0;
}

.barra-busca input {
    border: none;
    outline: none;
    background-color: #DFE3EE;
    padding-block: 8px;
    flex-grow: 1;
}

.barra-busca input::placeholder {
    color: #777777;
    font-weight: 600;
}

.barra-busca input:focus {
    border: none;
    outline: none;
}

button[type="submit"] {
    background-color: #BF4F1B;
    color: #fafafa;
    padding: 12px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    order: 2;
}

button[type="submit"]:hover {
    background-color: #ce5219;
}

section[aria-labelledby="filtros-busca"] {
    display: flex;
    flex-direction: column;
    gap: 8px;
    order: 1;
}

section[aria-labelledby="filtros-busca"] label {
    display: flex;
    align-items: center;
    gap: 8px;
}

section[aria-labelledby="filtros-busca"] select {
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    font-size: 1rem;
    background-color: #DFE3EE;
    flex: 1;
    cursor: pointer;
    appearance: none;
}

.filtros-busca label, .filtros-busca img {
    cursor: pointer;
}

.filtros-busca {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #DFE3EE;
    border-radius: 10px;
    padding: 8px;
    gap: 8px;
    border: 1px solid #2036687c;
    min-width: 15rem;
    position: relative;
}

.servicos-container {
    gap: 60px;
    min-height: 100vh;
    padding-block: 1.2rem;
    padding-inline: 2rem;
    border-radius: 8px;
    background-color: #4667bc38;
}

/* Seção de filtro */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    display: none;
    transition: opacity 0.3s ease;
}

.overlay.mostrar {
    display: block;
}

aside[aria-labelledby="secao-filtros"] {
    height: 30rem;
    overflow-y: scroll;
}

aside[aria-labelledby="secao-filtros"] h2 {
    font-size: 2rem;
    color: #333333;
}

aside[aria-labelledby="secao-filtros"] form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header-filtro {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.close-icon {
    cursor: pointer;
}

.secao-filtros-background {
    display: none;
    background-color: #fafafa;
    padding: 40px 20px;
    border-radius: 0 70px 70px 0;
}

.secao-filtros-background.mostrar {
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 80%;
    border-radius: 10px 10px 0 0;
    background-color: #fafafa;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    z-index: 10;
    transition: transform 0.3s ease-in-out;
}

.mostrar-filtro {
    color: #2B468B;
    background-color: #fafafa;
    padding: 12px 0;
    border: 1px solid #2B468B;
    border-radius: 8px;
    cursor: pointer;
    order: 2;
}

.header-categoria {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    font-weight: bold;
    gap: 8px;
    background-color: #fafafa;
    cursor: pointer;
    font-size: 1.1em;
    margin-block: 1rem;
    color: #2B468B;
}

.header-categoria img {
    transition: transform 0.3s ease;
}

.header-categoria[aria-expanded="false"] img {
    transform: rotate(180deg);
}

.filtro-conteudo {
    display: block;
    border-top: none;
}

.filtro-categoria[aria-expanded="true"] .filtro-conteudo,
.filtro-preco[aria-expanded="true"] .filtro-conteudo,
.filtro-avaliacao[aria-expanded="true"] .filtro-conteudo {
    display: block;
}

legend {
    font-weight: bold;
    color: #333333;
    margin-bottom: 0.4rem;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 10px;
}

/* Seção listagem de serviços */

section[aria-labelledby="secao-servicos"] {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.servico-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #fafafa;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.servico-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-block: 0.5rem;
}

.servico-card h3 {
    font-size: 1.2rem;
    color: #2B468B;
}

.servico-card h4 {
    font-size: 1.5rem;
    color: #333333;
}

.servico-card ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.2rem;
}

.servico-card ul li {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.servico-card .avaliação {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.detalhes-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    text-decoration: none;
    background-color: #BF4F1B;
    color: #fafafa;
    padding-inline: 1rem;
    padding-block: 8px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.detalhes-btn:hover {
    background-color: #ce5219;
}

/* Paginação */

nav[aria-labelledby="navegacao-paginacao"] a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    text-decoration: none;
    background-color: #2B468B;
    color: #fafafa;
    padding-inline: 1rem;
    padding-block: 8px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

nav[aria-labelledby="navegacao-paginacao"] ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0;
}

nav[aria-labelledby="navegacao-paginacao"] ul li {
    text-align: center;
    list-style: none;
}

/* Estilização para telas maiores */
@media (min-width: 48rem) {
    slot {
        display: flex;
        gap: 10px;
        max-width: 800px;
    }

    .mostrar-filtro {
        display: none;
    }

    .servicos-container {
        display: flex;
        gap: 2.2rem;
        padding-inline-start: 0;
        border-radius: 8px;
    }

    section[aria-labelledby="secao-servicos"] {
        margin: 0 auto;
    }

    .detalhes-btn {
        align-self: flex-end;
    }

    .servicos-container>div {
        display: flex;
    }

    aside[aria-labelledby="secao-filtros"] {
        height: 100%;
        overflow-y: auto;
        min-width: 14rem;
    }

    .header-filtro>img {
        display: none;
    }

    .barra-busca-container {
        flex: 1;
    }

    .form-busca {
        display: flex;
        flex-direction: column;
    }

    .form-busca button[type="submit"] {
        order: 1;
    }

    .form-busca section[aria-labelledby="filtros-busca"] {
        order: 2;
    }

    .form-busca .barra-busca {
        order: 0;
    }

    .secao-busca {
        max-width: 80rem;
        margin: 0 auto;
        padding-inline: 5rem;
    }

    section[aria-labelledby="filtros-busca"] {
        flex-direction: row;
        gap: 24px;
    }

    button[type="submit"] {
        padding: 12px 24px;
        font-size: 1.1rem;
    }
}