@import url(global.css);


header{
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/*Conteiner do Formulario*/
.container{
    width: 100%;
    margin: 0 auto;
}
.container-perfil{
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: 8px;
}
.container-form{
    display: inline-block;
    max-width: auto;
    margin: 10px auto;
    padding: 10px 20px;
    background: var(--color-background-card);
    border-radius: 8px;
}

/*Form */

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  border: 1px solid var(--color-border);
  border-radius: 4px;
  font-size: var(--font-size-p);
  height: auto;
  margin: 0;
  padding: 8px;
  width: 100%;
  background-color: var(--color-background-input);
  color: var(--color-standard);
  margin-bottom: 20px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

button {
  padding: 19px 39px 18px 39px;
  font-size: var(--font-size-p);
  color: var(--color-backgroud);
  text-align: center;
  font-weight: bold;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;
  background-color: var(--color-standard);
    border: none;
}