.artigos-section {
  position: relative; /* Necessário para a posição das elipses */
  padding: 40px 20px;
  background-color: #f0f0f0;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 70%; /* Reduz a largura total ocupada pelos cards */
  margin-right: auto; /* Centraliza os cards horizontalmente */
}

.card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 45%; /* Reduz a largura de cada card */
}

.card img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.card h3 {
  font-size: 24px;
  color: #2B468B;
  margin: 20px 0 10px;
}

.card p {
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}

.btn-leia-artigo {
  color: #FAFAFA;
  background-color: #2B468B;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn-leia-artigo:hover,
.btn-leia-artigo:focus {
  background-color: #1f365d;
  outline: 2px dashed #2B468B;
  outline-offset: 4px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Estilização para as elipses na section 3 */
.artigos-decoracao {
  position: absolute;
  right: 0; /* Posiciona as elipses à direita dos cards */
  top: 50%; /* Ajusta para centralizar verticalmente as elipses */
  transform: translateY(-50%); /* Centraliza verticalmente */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 25%; /* Define a largura da área das elipses */
}

.elipses-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Três colunas */
  gap: 10px; /* Espaçamento entre as elipses */
}

.elipse {
  width: 2vw; /* Unidades responsivas para se adaptar ao tamanho da tela */
  height: 2vw;
  background-color: #2B468B;
  opacity: 0.08;
  border-radius: 50%;
}
